@* Views/Shared/Categories.cshtml *@
@model IEnumerable<TH1.CHUDE>

<div class="list-group">
    @foreach (var category in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            @Html.DisplayFor(m => category.TenChuDe)
        </a>
    }
</div>
